.card {
  background-color: #f7f7f7;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.card-name {
  font-size: 20px;
  font-weight: bold;
  margin: 20px auto;
}

.card-image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
